{% extends "layout.html.twig" %}
{% block content %}
    <ul class="tabs clearfix" data-tabs id="tabs">
        {% for photoSet in photoSets %}
            <li class="tabs-title {% if photoSet.id == 1 %}is-active{% endif %}">
                <a href="#panel{{ photoSet.id }}" aria-selected="{% if photoSet.id == 1 %}true{% endif %}">{{ photoSet.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tabs-content" data-tabs-content="photos" data-animate="fade-in fade-out">
        {% for photoSet in photoSets %}
            <div class="tabs-panel {% if photoSet.id == 1 %}is-active{% endif %}" id="panel{{ photoSet.id }}">
                <div class="row small-up-2 medium-up-3 large-up-4">
                    {% for photo in photos %}
                        {% if photo.photo_set_id == photoSet.id %}
                            <div class="column column-block">
                                <a
                                        class="lazy thumbnail"
                                        data-fancybox="images"
                                        href="{{ photo.photo_url }}"
                                        data-caption="{{ photo.title }}"
                                        data-width="{{ photo.photo_width }}"
                                        data-height="{{ photo.photo_height }}"
                                >
                                    <img
                                            class="lazy"
                                            width="{{ photo.thumb_width }}"
                                            height="{{ photo.thumb_height }}"
                                            data-original="{{ photo.thumb_url }}"
                                            title="{{ photo.title }}"
                                    >
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
